<div>
    <img src="../../../assets/ArgentinaPrograma-icono.png" width="20%" height="20%"  id="ArgPgm">
    <a href=""><img src="../../../assets/login logo.png" width="5%" height="5%" id="login"></a>
    <a href=""><img src="../../../assets/facebook icon.png" width="5%" height="5%" id="facebook"></a>
    <a href=""><img src="../../../assets/linkedin.png" width="5%" height="5%" id="linkedin"></a>
    <a href=""><img src="../../../assets/mail.png" width="5%" height="5%" id="mail"></a>
    <a href=""><img src="../../../assets/github icon.png" width="5%" height="5%" id="github"></a>
    <img src="../../../assets/BANNER WEB.gif"  id="banner">
</div>
