<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [imageSrc]="'../../../assets/html icono.png'"
    [showImage]="true"
    [showUnits]="false"
    [imageHeight]="200"
    [imageWidth]="200"
    [titleColor]="'Orange'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'red'"
    [innerStrokeColor]="'Skyblue'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>

<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [imageSrc]="'../../../assets/css icono.png'"
    [showImage]="true"
    [showUnits]="false"
    [imageHeight]="200"
    [imageWidth]="200"
    [titleColor]="'Orange'"
    [titleFontSize]="'3em'"
    [showSubtitle]="false"
    [percent]="70"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'Skyblue'"
    [innerStrokeColor]="'Skyblue'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
<circle-progress
    [title]="'JS'"
    [showUnits]="false"
    [titleColor]="'black'"
    [backgroundColor]="'Yellow'"
    [titleFontSize]="'5em'"
    [showSubtitle]="false"
    [percent]="45"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'black'"
    [innerStrokeColor]="'Skyblue'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
    [imageSrc]="'../../../assets/CSHARP logo.png'"
    [showImage]="true"
    [showUnits]="false"
    [imageHeight]="150"
    [imageWidth]="150"
    [showSubtitle]="false"
    [percent]="50"
    [radius]="100"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="0"
    [outerStrokeColor]="'blue'"
    [animation]="true"
    [animationDuration]="300"
    ></circle-progress>
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [title]="'Hardware'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [backgroundColor]="'White'"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="0"
        [outerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [title]="'Inglés'"
            [titleFontSize]="'3em'"
            [showUnits]="false"
            [titleColor]="'White'"
            [showSubtitle]="false"
            [percent]="30"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'White'"
            [animation]="true"
            [animationDuration]="300"
        ></circle-progress>
        </div>
</div>
