<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-g-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-g-2">
        <p id="Nombre">Alderete Mauro Alejandro</p>
        <p id="Titulo">Full Stack Developer Jr</p>
    </div>
    <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt, itaque. In, iure nam aliquam asperiores voluptatem ab eum magnam vero, nemo sint temporibus ex corrupti similique rem maiores tempora quisquam!
        </p>
    </span>
</div>
