<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Perfil.jpg" class="img-fluid" id="Perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre"> Mauro Alejandro Alderete</p>
        <p id="Titulo"> Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy un joven de  21 años, con mucha pasión por el deporte, tecnología y videojuegos. Actualmente estoy cursando una carrera de Desarrollo de Software, y otros cursos que tengan que ver con el mundo de la informática.</p>
        </span>
    </div>
</div> 
